<div class="modal-movie-card">
    <div class="movie-image-wrapper">
        <img class="movie-image lazyload" data-src="{{imgSrc}}" alt="{{title}}" data-movie-id="{{id}}">

    </div>
    <div class="movie-card-info">
        <h1 class="movie-name">{{title}}</h1>

        <div class="movie-detail-wrapper">
            <div class="movie-info-field">
                <span class="info-field-name">Vote/Votes</span>
                <span class="info-field-value">
                    <span class="movie-card__rating">{{rating}}</span> / <span class="movie-card__votes">{{voteСount}}</span>
            </div>
            <div class="movie-info-field">
                <span class="info-field-name">Popularity</span>
                <span class="info-field-value">{{popularity}}</span>
            </div>
            <div class="movie-info-field">
                <span class="info-field-name">Original Title</span>
                <span class="info-field-value-title">{{title}}</span>
            </div>
            <div class="movie-info-field">
                <span class="info-field-name">Genre</span>
                <span class="info-field-value-genre">{{genres}}</span>
            </div>
        </div>

        <h2 class="movie-about">About</h2>
        <p class="movie-description">{{overview}}</p>

        <div class="btn-wrapper">

            <button class="btn btn-details {{!-- btn-active__details --}} first-btn" type="button" data-add-watched=""
                data-movie-id="{{id}}">add to watched</button>
            <button class="btn btn-details" type="button" data-add-queue="" data-movie-id="{{id}}">add to queue</button>
        </div>
    </div>
    <button class="modal-close-btn" type="button">
        X
    </button>
</div>
